#feedContainer {
       margin: auto;
    overflow: auto;
    padding: 24px;
}
.feed-container {
    column-gap: 12px;
    margin: auto;
    overflow: overlay;
    padding:64px;

}

.feed {
    margin : auto;
    padding:0px 64px 0px 64px;
    height: calc(100vh - 74px);
    /* scrollbar-width: thin; */
    overflow: auto;
}


/* For mobile devices */
@media (max-width: 600px) {
    .feed-container {
        column-count: 1;
    }

    .feed{
        padding:0px 32px 0px 32px;
    }
}

/* For tablet devices */
@media (min-width: 601px) and (max-width: 900px) {
    .feed-container {
        column-count: 2;
    }
    .feed{
        padding:0px 32px 0px 32px;
    }
}

/* For small desktops */
@media (min-width: 901px) and (max-width: 1200px) {
    .feed-container {
        column-count: 3;
    }
}

/* For large desktops */
@media (min-width: 1201px) {
    .feed-container {
        column-count: 4;
    }
    .feed{
        padding:0px 32px 0px 32px;
    }
}
@media (min-width: 1900px) {
    .feed-container {
        column-count: 5;
    }
}
@media (min-width: 2200px) {
    .feed-container {
        column-count: 6;
    }
}
