#feedContainer {
       margin: auto;
    overflow: auto;
    padding: 24px;
}
.feed-container {
    column-gap: 12px;
    margin: auto;
    overflow: hidden;
    padding:64px;

}

.feed {
    margin : auto;
    padding:64px 64px 0px 64px;
    /* height: calc(100vh - 74px); */
    /* scrollbar-width: thin; */
}

.loading-indicator,
.no-items-indicator,
.loading-more-indicator {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #555;
}

.loading-card {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #999;
}

.new-items-notification {
    position: fixed;
    top: 80px; /* Adjust based on your AppBar height */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Green background */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .new-items-notification:hover {
    background-color: #45a049;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .new-items-notification {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }

/* For mobile devices */
@media (max-width: 600px) {
    .feed-container {
        column-count: 1;
    }

    .feed{
        padding:32px 32px 0px 32px;
    }
}

/* For tablet devices */
@media (min-width: 601px) and (max-width: 900px) {
    .feed-container {
        column-count: 2;
    }
    .feed{
        padding:32px 32px 0px 32px;
    }
}

/* For small desktops */
@media (min-width: 901px) and (max-width: 1200px) {
    .feed-container {
        column-count: 3;
    }
}

/* For large desktops */
@media (min-width: 1201px) {
    .feed-container {
        column-count: 4;
    }
    .feed{
        padding:32px 32px 0px 32px;
    }
}
@media (min-width: 1900px) {
    .feed-container {
        column-count: 5;
    }
}
@media (min-width: 2200px) {
    .feed-container {
        column-count: 6;
    }
}
