.modal-container sl-card {
  --padding: 0;
  --border-radius: 40px;
  max-width: 950px;

}

.modal-container .reader-card::part(base) {
  background-color: var(--background-color);
  border: none;
  border-radius: 40px;
  transition: all .25s ease-in-out;
}
.reader-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.85);
  transition: all .25 ease-in-out;
  z-index: 2000; /* Ensure it's behind the card */
}
.modal-container .reader-card {
  margin:auto;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  max-height: 95vh;
  background-color: var(--background-color);
  
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* backdrop-filter: blur(20px); */
  /* background-color: rgba(0, 0, 0, 0.85); */
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* transition: opacity 0.25s ease-in-out; */
}
.modal-container .reader-card .image-container img {
  -webkit-border-radius: 32px;
  border-radius: 32px;
  transform: none;
  object-fit: cover;
  transition: all .25s ease-in-out;
  position: relative;
  width: -webkit-fill-available;
  height: fit-content !important;
  max-height: 450px;
}

.modal-container .noise {
  position: absolute;
  background-image: url("../assets/images/noise.svg");
  background-repeat: repeat;
  background-size: 2000px 2000px;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: multiply;

  opacity: .04;
}

.modal-container .reader-card .image-container {
  position: relative !important;
  width: -webkit-fill-available;
  height: fit-content !important;
  border-radius: 32px;
  overflow: hidden;
  margin:8px;
  max-height: 450px !important;
  flex-grow: 1;
  overflow: unset;
}

.modal-container .modal-container-content {
  border-radius: 40px;
}






.modal-container.visible {
  opacity: 1;
  position: fixed
}

.reader-view-page-content h1,
.reader-view-page-content h2,
.reader-view-page-content h3,
.reader-view-page-content h4,
.reader-view-page-content h5,
.reader-view-page-content h6 {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;

}

.reader-view-page-content h1 {
  font-size: 1.8em;
  /* margin-right: 4em; */
  /* margin: 1.5rem 0 */
}

.reader-view-page-content h2 {
  font-size: 1.5rem;
  /* margin: 1.5rem 0 */
}

.reader-view-page-content h3 {
  font-size: 1.25rem;
  /* margin: 1.5rem 0 */
}

.reader-view-page-content h4 {
  font-size: 1.15rem;
  /* margin: 1.5rem 0 */
}

.reader-view-page-content h5 {
  font-size: 1.05rem;
  /* margin: 1.5rem 0 */
}

.reader-view-page-content h6 {
  font-size: 1rem;
  /* margin: 1.5rem 0 */
}


.reader-view-page-content p{
  font-family: var(--font-family);
    line-height: 2.33;
    font-weight: var(--font-weight-regular);
    font-size: 1.2rem;
}

.reader-view-page-text {
  padding: 0 4rem;
  height: 100%;
  position:relative;
  top:0em;
  /* scrollbar-width: thin; */

}

.reader-view-page-content blockquote {

  opacity: .8;
  background: var(--blockquote-background-color);
  border-left: 8px solid var(--accent-color);
  box-shadow: inset 0 0 0 1px var(--border-color);
  border-radius: 7px;
  margin: 1.5em 12px;
  padding: 1.5em 1.5rem;
  quotes: "\201C""\201D""\2018""\2019";

}



.reader-view-page-content blockquote p{
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8;
  font-family: var(--font-family);
  color: var(--color);
  margin-bottom: 1rem;
  margin:auto;
}

/* .reader-view-page-content blockquote::before {
  display: inline-block;
  content: open-quote;
  color: var(--accent-color);
  font-size: 4rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.reader-view-page-content blockquote::after {
  content: close-quote;
  color: var(--accent-color);
  font-size: 4rem;
  position: relative;
  bottom: 0;
  right: 0;
  z-index: -1;
} */




.reader-view-page-content figcaption,
.reader-view-page-content cite {
  display: block;
  font-size: 1rem;
  color: var(--color);
  opacity: .7;
  margin-bottom: 1rem;
  margin:auto;
  text-align: center;
  display: block;
}
.reader-view-close-button {
  align-self: flex-end;
  background-color: #333;
  color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;
  border: none
}

.reader-view-author {
    font-size: 16px;
    margin: 0;
    font-weight: 400
  }
  .reader-view-reading-time {
    font-weight: var(--font-weight-medium)!important;
    font-size: 14px !important;
   
    margin: 8px 0!important;
    margin-bottom: 4px;
    opacity: .7
  }
  .reader-view-reading-time p {
   
    margin: 0
  }

  .reader-view-header-container{
    position:sticky;
    top:0;
    background-color: transparent !important;
    pointer-events: none;
    height:500px;
  }
  
  
.reader-view-header {
  position: relative;
    top: 0px;
    width: 100%;
    /* background-color: var(--background-color); */
    background-image: linear-gradient(to bottom, var(--background-color)0%, var(--background-color) 55%, transparent 100%); /* Gradient overlay */
    z-index: 1;
}

  .reader-view-header a{
    text-decoration: none;
    color: var(--color);
    width: -moz-fit-content;
    width: fit-content;
  }

  .reader-view-header-button {
    font-size: 24px;
    font-weight: 900;
    color: var(--color);
    cursor: pointer
  }

   sl-icon-button::part(base) {
    color: var(--color);
  }
  
  .reader-view-header-button:hover {
    font-size: 24px;
    font-weight: 900;
    color: var(--accent-color);
    cursor: pointer
  }
  .reader-card .reader-view-header-button-container{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 12px;
    top:12px;
    right:-56px;
    z-index: 9000;
    background-color: var(--background-color);
    border-radius: 8px;

  }

  .reader-view-page-content {
   display: flex;
   flex-direction: column;
    margin: auto;
    max-height: 90vh;
    
    
  }

   /* Adjustments for smaller screens */
  @media screen and (max-width: 750px) {
    .reader-view-page-content {
      width: 100%;
      border-radius: 0;
      max-height: 100vh;
    }
  
    .reader-card {
      border-radius: 0;
      height: 100vh;
    }
  
    .modal-container .reader-card {
      font-size: 12px;
      height: 100%;
      width: 100%;
      border-radius: 0;
      max-height: 100vh;
    }
  
    .reader-card .reader-view-header-button-container {
      right: 0;
    }
  
    .modal-container {
      width: 100%;
      height: 100%;
      border-radius: 0;
      max-height: 100vh;
    }
  
    .modal-content {
      max-width: 100%;
      max-height: 100%;
      border-radius: 0;
    }
  }
  
  /* Adjustments for medium screens */
  @media screen and (min-width: 750px) and (max-width: 1150px) {
    .modal-container-content .reader-card {
      width: 85vw;
    }
    .reader-card .reader-view-header-button-container {
      right: 0;
    }
  }
  
  .reader-view-title h1{
    font-size: 2.1rem !important;
    margin: 0;
    margin-bottom: 8px;
    line-height: 2.8rem;
    font-weight: 300;
    color: var(--color);
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    padding: 1rem 0 0 0;
  }

  .reader-view-website-info {
   display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-weight: 400
  }

  .modal-container .reader-card:hover .title a {
    text-decoration: none !important;
  }

.reader-view-article a {
    clear: both;
    color: var(--accent-color);
    text-decoration: underline;
    display: contents
  }
  .reader-view-article img,
  .reader-view-article video {
    max-width: 100%;
    height: 100%;
    max-height: 450px;
    aspect-ratio: auto;
    display: block;
    margin: 12px auto;
    border-radius: 7px;
    stroke-width: 1px;
    stroke: #000;
    object-fit: contain;
    width: -moz-fit-content;
    width: fit-content;

  }
  .reader-view-article p {
    margin: 1.33em 0
  }

  .reader-view-article-content iframe, .reader-view-page-content iframe {
    width: 100%;
    max-height: 450px;
    height:100%;
    border: none;
    border-radius: 12px;
    margin: 12px auto;
    display: block;
    aspect-ratio: 16/9;
  
  }

.reader-view-header-info {
    flex-grow: 1;
    margin: auto;
}

.reader-view-title-link {
    text-decoration: none;
    color: inherit;
    width: -moz-fit-content;
    width: fit-content;
}





.reader-view-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.reader-view-article-content {
    position: relative;
    border-radius: 7px;
    padding:2rem 4rem;
    /* background-color: white; */

  }

.reader-view-article {
    font-size: 1rem;
    line-height: 1.6;
}

.progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}

.progress-circle__progress {
    fill: none;
    stroke: var(--accent-color);
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
}

.reader-view-loading {
    text-align: center;
    padding: 2rem;
}

.header-image {
  position: sticky;
  width: 100%;
  max-height: 500px;
  min-height: 120px;
  object-fit: cover;
  margin-bottom: 4rem;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  transition: height 0s linear, transform 0.0s linear, filter 0.0s linear !important;
}

.header-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50% ,rgba(0, 0, 0, 0) 55%, var(--background-color) 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: height 0.1s, filter 0.1s;
  will-change: transform, filter, height;

}

.header-image img {
  position: absolute;
  width: 120%;
  height: 120%;
  top:-10%;
  left:-10%;
  object-fit: cover;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all .01 linear;

  will-change: transform, filter, height;

}

.title {
  bottom: -1em;
  z-index: 4;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem 0rem 3rem;
  transition: all .2 ease-out;
  will-change: transform, filter, height;
}



  .reader-view-modal hr.solid {
    border-top: 1px solid #bbb
  }
  .overlay__btn:hover {
    transform: scale(1.05);
    cursor: pointer
  }
  .overlay__btn--transparent {
    background: 0 0;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: .75rem
  }
  .overlay__btn-emoji {
    margin-left: .375rem
  }
  a {
    text-decoration: none;
    color: var(--color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }

  
.reader-view-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(90px);
    font-family: var(--font-family);
    line-height: 1.8;
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    margin: 0 auto;
    overflow-y: auto;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    transition: all .25s ease-in-out;
    -webkit-overflow-scroll: auto;
   
    
  }
  .reader-view-modal .noise {
    position: absolute;
    background-image: url("../assets/images/noise.svg");
    background-repeat: repeat;
    background-size: 2000px 2000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: multiply;

    opacity: .04;
  }
  .reader-view-modal.visible {
    opacity: 1;
    position: fixed
  }
 
 
  
.progress-indicator-container {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 48px;
  height: 48px;
  right: 24px;
  bottom: 24px;
  left: 36px;
  box-shadow: rgba(0,0,0,.2) 0 12px 28px 0,rgba(0,0,0,.1) 0 2px 4px 0,rgba(255,255,255,.05) 0 0 0 1px inset;
  background-color: var(--background-color-secondary);
  border-radius: 100px
}
.progress-indicator {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  position: relative;
  margin: auto
}
.progress-circle {
  width: 100%;
  height: 100%
}
.progress-circle__background,
.progress-circle__progress {
  fill: none
}
.progress-circle__background {
  stroke: var(--progress-background)
}
.progress-circle__progress {
  stroke: var(--reading-progress-color);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: all 50ms ease-in
}
.progress-circle__progress .light {
  stroke: #007bff
}
.progress-circle__progress .dark {
  stroke: #fff
}
.progress-circle__progress .sepia {
  stroke: #704214
}
.progress-circle__background .light {
  background-color: #fff
}
.progress-circle__background .dark {
  background-color: #333
}
.progress-circle__background .sepia {
  background-color: #f4e7d8
}



@media (max-width: 750px) {
  .reader-view-modal {
    width: 100%;
    height: 100%;
    border-radius: 0; /* Remove border radius if any */
  }

  .reader-view-content {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0; /* Remove border radius if any */
  }
}

/* ReaderView.css */

.highlighted-word {
  background-color: yellow;
}

.tts-player {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.tts-player button {
  margin-right: 10px;
}

.tts-player label {
  margin-right: 10px;
}
