.podcast-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .podcast-audio {
    width: 100%;
  }
  
  .podcast-player-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .podcast-player-controls > * {
    margin: 0 5px;
  }
  