.podcast-card {
    overflow: hidden;
    position: relative;
    padding: 0;
    row-gap: 0;
    -webkit-border-radius: 24px;
    border-radius: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 450px;
    margin-top: 12px;
    break-inside: avoid;
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
    transition: all 0.125s ease-in-out !important;
    will-change: height, transform;
  }
  
  .podcast-card .date {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
    opacity: 0.65;
  }
  
  .podcast-card .card-bg .noise {
    background-image: url("../assets/images/noise.svg");
    position: absolute;
    background-size: auto;
    background-repeat: repeat;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-position: center center;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    mix-blend-mode: multiply;
  }
  
  .podcast-card .image-container {
    position: relative;
    max-height: 320px;
    top: 0;
    left: 0;
    transition: transform 0.25s ease-in-out;
    overflow: hidden;
    -webkit-border-radius: 32px;
    margin: 8px;
    border-radius: 32px;
  }
  
  .podcast-card .image-container img {
    -webkit-border-radius: 32px;
    border-radius: 32px;
    max-height: 320px;
    transform: scale(1);
    transition: all 0.25s ease-in-out !important;
  }
  
  .podcast-card:hover .image-container img {
    transform: scale(1.1);
    transition: all 0.25s ease-in-out;
  }
  
  .podcast-card:hover {
    transition: all 0.25s ease-in-out;
    z-index: 2;
  }
  
  .podcast-card .text-content {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
  }
  
  .podcast-card h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
  }
  
  .podcast-card p {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.33;
  }
  
  .podcast-card a {
    text-decoration: none;
    color: var(--color);
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
    transition: var(--transition-fast);
  }
  
  .podcast-card:hover a {
    text-decoration: steelblue wavy underline;
  }
  
  .podcast-card audio {
    width: 100%;
    margin-top: 12px;
  }
  
  .podcast-card .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px !important;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
  }
  
  .podcast-card:hover .text-content {
    filter: brightness(1.2);
  }
  
  .podcast-card button {
    background-color: #2a6496;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 12px;
    padding: 8px 12px;
    text-transform: uppercase;
  }
  
  .podcast-card .shimmer-skeleton {
    width: 100%;
    height: 200px;
    background: #f6f7f8;
    background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 200px;
    animation: shimmer 1s linear infinite forwards;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -800px 0;
    }
    100% {
      background-position: 800px 0;
    }
  }
  