.podcast-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.podcast-modal-content {
  background-color: var(--background-color);
  display:flex;
  flex-direction: column;
  border-radius: 40px;
  padding: 8px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: fit-content;
  /* Adjust the width to fit the content */
  min-width: 400px;
  max-width: 50vw;
max-height: 95vh;
height:-webkit-fill-available;
 }

 .podcast-player-controls sl-icon-button::part(base){
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 12px 24px;
  }

.podcast-modal-content .custom-scrollbar {
  border-radius: unset !important;
}

.podcast-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.podcast-modal-container .background-image , .podcast-modal-container .background-image img {
  width: 100%;
  height: -webkit-fill-available;
  min-height: 150px;
  object-fit: cover;
  max-height: 250px;
  border-radius: 24px;
  transition: all .25s ease-in-out;
  filter: blur(135px) brightness(.7);
  opacity: .5;
  position: absolute;
  top:0;
  left:0;
}

.podcast-modal-content .podcast-ai-content {
  margin: 20px 0;
  flex-shrink: 0; /* Prevent shrinking */
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 0rem 2rem 2rem 2rem;
}

.podcast-modal-content .podcast-ai-content-text{
 
  display: flex;
  flex-direction: column;
  column-gap: 12px;
  row-gap: 12px;
  height: fit-content;

  align-items: stretch;
  margin: 20px 0;

}

.podcast-modal-content p{
  font-size: .95rem;
  color: var(--color);
  font-family: var(--font-family);
  line-height: 1.9;
}

.podcast-modal-content .podcast-ai-content-text h2{
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color);
  margin: 0;

  
  
}

.podcast-modal-content .podcast-ai-content-text h3{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color);
  margin: 0;
}

.podcast-modal-container .topic::part(base){
  border:1px solid var(--border-color);
}

.podcast-details-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast-thumbnail {
  max-height: 500px;
  width: auto;
  /* Ensure the width is adjusted to maintain the aspect ratio */
  border-radius: 32px;
  margin-bottom: 20px;
}

.podcast-detail-view-text-content {
  padding: 24px;
flex-grow: 1;
overflow: hidden;}

.podcast-modal-content .podcast-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 200px;
  padding:2rem;
  flex-shrink: 0;
}

.podcast-modal-content .custom-scrollbar {
 
  height: 100%;
  overflow-y: auto;
 
}

.podcast-modal-content .podcast-info h1 {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 300;
}

.podcast-modal-content-content h2 {
  margin: 0;
  font-size: 1.25rem;
  padding: 0;
}

.podcast-modal-content .podcast-info p {
  margin: 0;
  font-size: 1rem;
  color: var(--color);
}

.podcast-modal-content .podcast-ai-content-topics {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: fit-content;
  align-items: justify;
  margin: 20px 0;
}

.podcast-header-buttons {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.podcast-detail-view-text-content .podcast-audio-player {
  margin: 20px 0;
}

.podcast-detail-view-text-content .scrollable-description {
  height: 200px;
  /* Define a fixed height for the scrollable area */
  overflow: hidden;
  /* Ensure that it only scrolls within the CustomScrollbar */
}

.podcast-detail-view-text-content .podcast-description-content {
  font-size: 1rem;
  line-height: 1.5;
}

.podcast-detail-view-text-content .podcast-audio-player {
  width: 100%;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .podcast-modal-content {
    width: 90%;
    /* Make the modal responsive on smaller screens */
    padding: 10px;
    font-size: 14px;
  }

  .podcast-thumbnail {
    max-height: 200px;
    /* Adjust the image size for smaller screens */
  }

  .podcast-info h1 {
    font-size: 1.2rem;
    /* Adjust the title font size */
  }

  .scrollable-description {
    height: 150px;
    /* Smaller scroll area for small screens */
  }
}

@media (max-width: 480px) {
  .podcast-modal-content {
    width: 90%;
    /* Make the modal responsive on smaller screens */
    padding: 10px;
    font-size: 14px;
  }

  .podcast-thumbnail {
    max-height: 200px;
    /* Adjust the image size for smaller screens */
  }

  .podcast-info h1 {
    font-size: 1.2rem;
    /* Adjust the title font size */
  }

  .scrollable-description {
    height: 150px;
    /* Smaller scroll area for small screens */
  }
}

@media (max-width: 768px) {
  .podcast-modal-content {
    width: 90%;
    /* Make the modal responsive on smaller screens */
    padding: 10px;
    font-size: 14px;
  }

  .podcast-thumbnail {
    max-height: 200px;
    /* Adjust the image size for smaller screens */
  }

  .podcast-info h1 {
    font-size: 1.2rem;
    /* Adjust the title font size */
  }

  .scrollable-description {
    height: 150px;
    /* Smaller scroll area for small screens */
  }
}