.drop-shadow {
    width: 99.5%;
    height: 99.5%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    transition: all .25s ease-in-out !important;
    aspect-ratio: 1 / 1;
    max-width: 450px;
    
}