:root {
  --dracula-background: rgba(40, 42, 54, 1);
  --dracula-current-line: rgba(68, 71, 90, 1);
  --dracula-foreground: rgba(248, 248, 242, 1);
  --dracula-comment: rgba(98, 114, 164, 1);
  --dracula-cyan: rgba(139, 233, 253, 1);
  --dracula-green: rgba(80, 250, 123, 1);
  --dracula-orange: rgba(255, 184, 108, 1);
  --dracula-pink: rgba(255, 121, 198, 1);
  --dracula-purple: rgba(189, 147, 249, 1);
  --dracula-red: rgba(255, 85, 85, 1);
  --dracula-yellow: rgba(241, 250, 140, 1);
  --font-family: "Noto Sans","Segoe UI Variable Small Light", "Roboto", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --box-shadow-standard: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-hover: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --blur: blur(0.65em);
  --light-background-color: rgba(245, 245, 245, 1);
  --light-new-tab-background-color: #f9f9fb;
  --light-theme-search-box-color: #e0e0e05a;
  --light-theme-search-box-color-active: #fff;
  --light-new-tab-background-color-secondary: #ffffffe8;
  --light-background-color-hover: rgba(0, 0, 0, 0.05);
  --light-active-color: rgba(245, 245, 245, 0.7);
  --light-foreground-color: #1a1a1a;
  --light-accent-color: #007bff;
  --light-border-color: #e6e6e6;
  --light-critical-color: red;
  --light-success-color: green;
  --light-scrollbar-rest: rgba(0, 0, 0, 0.1);
  --light-scrollbar-thumb-rest: rgba(0, 0, 0, 0.2);
  --light-scrollbar-track-hover: rgba(0, 0, 0, 0.3);
  --light-scrollbar-track-active: rgba(0, 0, 0, 0.2);
  --light-scrollbar-track-rest: rgba(0, 0, 0, 0.0);
  --light-scrollbar-thumb-hover: rgba(0, 0, 0, 0.7);
  --light-scrollbar-thumb-active: rgba(0, 0, 0, 0.9);
  --dark-scrollbar-thumb: rgba(255, 255, 255, 0.5);
  --dark-scrollbar-rest: rgba(255, 255, 255, 0.1);
  --dark-scrollbar-track-hover: rgba(255, 255, 255, 0.1);
  --dark-scrollbar-track-active: rgba(255, 255, 255, 0.2);
  --dark-scrollbar-track-rest: rgba(255, 255, 255, 0.0);
  --dark-scrollbar-thumb-hover: rgba(255, 255, 255, 0.7);
  --dark-scrollbar-thumb-active: rgba(255, 255, 255, 0.9);
  --dark-scrollbar-thumb-rest: rgba(255, 255, 255, 0.1);
  --light-blockquote-background-color: rgba(0, 0, 0, 0.1);
  --dark-background-color: var(--dracula-background);
  --dark-blockquote-background-color: var(--dracula-current-line);
  --dark-new-tab-background-color: var(--dracula-background);
  --dark-theme-search-box-color: var(--dracula-current-line);
  --dark-theme-search-box-color-active: rgba(0, 0, 0, 0.8);
  --dark-new-tab-background-color-secondary: #282A36;
  --dark-background-color-hover: var(--dracula-comment);
  --dark-foreground-color: var(--dracula-foreground);
  --dark-active-color: var(--dracula-orange);
  --dark-accent-color: var(--dracula-cyan);
  --dark-border-color: var(--dracula-current-line);
  --dark-critical-color: var(--dracula-red);
  --dark-success-color: var(--dracula-green);
  --sepia-background-color: #f4e7d8;
  --sepia-foreground-color: #5c4a3d;
  --sepia-accent-color: #d8bfaa;
  --sepia-border-color: #d8bfaa;
  --progress-background: #eee;
  --progress-foreground-light: #007bff;
  --progress-foreground-dark: #fff;
  --progress-foreground-sepia: #704214;
  --transition-fast: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  --transition-standard: all 0.25s ease-in-out;
  --transition-slow: all 0.5s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--dark-new-tab-background-color);
    --background-color-secondary: var(
      --dark-new-tab-background-color-secondary
    );
    --background-color-hover: var(--dark-background-color-hover);
    --color: var(--dark-foreground-color);
    --search-box-color: var(--dark-theme-search-box-color);
    --search-box-color-active: var(--dark-theme-search-box-color-active);
    --accent-color: var(--dark-accent-color);
    --border-color: var(--dark-border-color);
    --reading-progress-container-background-color: var(
      --dark-background-color-hover
    );
    --reading-progress-color: var(--dark-accent-color);
    --progress-background: var(--dark-background-color);
    --success-color: var(--dark-success-color);
    --critical-color: var(--dark-critical-color);
    --scrollbar-thumb-rest: var(--dark-scrollbar-thumb-rest);
    --scrollbar-track-hover: var(--dark-scrollbar-track-hover);
    --scrollbar-track-active: var(--dark-scrollbar-track-active);
    --scrollbar-track-rest: var(--dark-scrollbar-track-rest);
    --scrollbar-thumb-hover: var(--dark-scrollbar-thumb-hover);
    --scrollbar-thumb-active: var(--dark-scrollbar-thumb-active);
    --blockquote-background-color: var(--dark-blockquote-background-color);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --background-color: var(--light-new-tab-background-color);
    --background-color-secondary: var(
      --light-new-tab-background-color-secondary
    );
    --background-color-hover: var(--light-background-color-hover);
    --color: var(--light-foreground-color);
    --accent-color: var(--light-accent-color);
    --border-color: var(--light-border-color);
    --reading-progress-container-background-color: var(
      --light-background-color-hover
    );
    --blockquote-background-color: var(--light-blockquote-background-color);
    --reading-progress-color: var(--light-accent-color);
    --search-box-color: var(--light-theme-search-box-color);
    --search-box-color-active: var(--light-theme-search-box-color-active);
    --success-color: var(--light-success-color);
    --critical-color: var(--light-critical-color);
    --scrollbar-thumb-rest: var(--light-scrollbar-thumb-rest);
    --scrollbar-track-hover: var(--light-scrollbar-track-hover);
    --scrollbar-track-active: var(--light-scrollbar-track-active);
    --scrollbar-track-rest: var(--light-scrollbar-track-rest);
    --scrollbar-thumb-hover: var(--light-scrollbar-thumb-hover);
    --scrollbar-thumb-active: var(--light-scrollbar-thumb-active);
  }
}
body {
  font-family: var(--font-family);
  background-color: transparent;
  color: var(--color);
  transition: var(--transition-standard);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-fast);
}

button:hover {
  background-color: var(--accent-color-lighter);
}

button:active {
  background-color: var(--accent-color-darker);
}

input,
textarea,
select {
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: var(--font-size-regular);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--accent-color);
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

/* For mobile devices */
@media (max-width: 600px) {
}

/* For tablet devices */
@media (min-width: 601px) and (max-width: 900px) {
}

/* For small desktops */
@media (min-width: 901px) and (max-width: 1200px) {
}

/* For large desktops */
@media (min-width: 1201px) {
}
@media (min-width: 1900px) {
}
@media (min-width: 2200px) {
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px;
  position: sticky;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 24px);
  -webkit-app-region: drag;
  background-color: transparent;
  border-top:none;
  z-index: 2000;
}

/* small blur below the title bar */
.top-bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  filter: var(--blur);
}

.top-bar-small {
  height: 24px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  padding: 12px 12px;
}

.top-bar-small h1 {
  font-size: 18px !important;
  transition: all 0.1s ease-in-out;
}
.top-bar-shadow {
  box-shadow: 0 4px 4px -4px rgba(128, 128, 128, 0.2); /* Adjust as needed */
}

.top-bar .title {
  font-size: 28px;
  font-weight: 400;
  padding: 0;
  line-height: 1.8;
  text-align: center;
  color: var(--color);
}

.top-bar .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 100%;
  column-gap: 8px;
  margin-right: 48px;
}

.content-container {
  margin: 0px auto;
  /* max-width: 2400px; */
  border-top: var(--border-color) 1px solid;

  overflow: auto;
 

}

.App {
  scroll-behavior: smooth;
}


.date {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  opacity: .65;
}

/* Scroll bar styling to make it look like macOS scrollbar on all platforms */

/* Customize website's scrollbar like Mac OS
Taken from https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}


::-webkit-scrollbar       {background-color:var(--scrollbar-track-rest);width:16px}
::-webkit-scrollbar-track {background-color:var(--scrollbar-track-rest)}
::-webkit-scrollbar-thumb:hover {background-color:var(--scrollbar-thumb-hover);}
::-webkit-scrollbar-thumb {background-color:var(--scrollbar-thumb-rest);border-radius:16px;border:4px solid var(--background-color);}

sl-icon-button::part(base):hover,
sl-icon-button::part(base):focus {
    color:var(--accent-color);
  }
  
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}