.website-info img, .site-favicon {
    margin: 0!important;
    padding: 0;
    border: none!important;
    box-shadow: none;
    /* background: white; */
    max-width: 120px;
    width: fit-content;
    
    height: 50% !important;
    max-height: 20px !important;
    margin: 12px;
    border-radius: 4px;
    object-fit: fill !important;
}

.website-info .site-favicon img {
    width: auto !important;
    height: auto !important;
    max-height: 20px !important;
    border-radius: 2px !important;
}

.website-info, .site-name {
    width: -webkit-fill-available;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: top;
    font-size: .8rem !important;
    font-weight: 800 !important;
    margin: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.website-info {
    width:-moz-fit-content;
    width: fit-content;
    max-width: 240px;
    display:flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom:8px;
}